*.jpg
*.jpeg
*.png
*.swp
.idea/
ssdlite_mobilenet_v2_coco_2018_05_09/
raw/
raw_ocr/
models/
tfrecord/
*.txt.added.txt
*.txt.updated.txt
003_special/
003_special2/
check_*.txt
_backup/
sampling_*.txt

